.container{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 350px 350px 350px;
    justify-content: center;
    align-items: center;
}
div > img{
    padding: 15px 10px;
    width:300px;
    height:250px;
    object-fit: contain;
    background-color: lightseagreen;
    border-radius: 80px;
}
@media screen and (max-width : 420px){
    .container{
        grid-template-columns:repeat(1,1fr)
    }
}
    @media screen and (max-width : 580px){
        .container{
            grid-template-columns: repeat(3,1fr);
        }
    }